<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="normalize.css" />
        <link rel="stylesheet" href="skeleton.css" />
    </head>
    <body>
    <div class="container">
       <h1> Budgtr ALL </h1>
        <button><a href="/new">NEW ITEM</a></button>
       
       <table>
        <% for(let i =0; i < budgets.length; i++){ %>
            <tr>
                <td> <%= budgets[i].date %></td>
                <td><a href="/show/<%=i%>"> <%= budgets[i].name %> </td></a></td>
                <td> <%= budgets[i].amount %></td>
            </tr>
    
       <%} %>

       </table>

    </div>
        <script src="" async defer></script>
    </body>
</html>