<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="normalize.css" />
        <link rel="stylesheet" href="skeleton.css" />
    </head>
    <body>
      <div class="container">
        <form method="POST" action="/new">
            
            <lable> Date</lable>
            <input type="text" placeholder="date..." name="date_input">
            <lable> Name</lable>
            <input type="text" placeholder="name..." name="name_input">
            <lable> From</lable>
            <input type="text" placeholder="from..." name="from_input">
            <lable> Amount</lable>
            <input type="text" placeholder="amount..." name="amount_input">
           <input type="submit" value="CREATE">
           <button><a href="/">CANCEL</a></button>
        </form>
      </div>
        
        <script src="" async defer></script>
    </body>
</html>